
*.pdb
Task_11_03_2024/Task_11_03_2024/x64/Debug/Task_11_03_2024.tlog/unsuccessfulbuild
*.idb
*.lastbuildstate
*.tlog
*.log
*.recipe
*.obj
*.user
*.filters
*.vcxproj
*.sln
Task_11_03_2024/Build/OurProject.exe
Task_11_03_2024/Build/Makefile
Task_11_03_2024/Task_11_03_2024/CMakeLists.txt
*.txt
Task_11_03_2024/Build/CMakeFiles/progress.marks
*.make
*.vsidx
*.db
Task_11_03_2024/.vs/Task_11_03_2024/v17/.suo
*.db-wal
*.db-shm
*.opendb
*.ipch
*.cmake
*.bin
*.exe
Task_11_03_2024/Build/CMakeFiles/3.27.7/CompilerIdC/CMakeCCompilerId.c
Task_11_03_2024/Build/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.check_cache
*.yaml
Task_11_03_2024/Build/CMakeFiles/Makefile2
*.internal
Task_11_03_2024/Build/CMakeFiles/OurProject.dir/compiler_depend.ts
Task_11_03_2024/Build/CMakeFiles/OurProject.dir/func.cpp.obj.d
Task_11_03_2024/Build/CMakeFiles/OurProject.dir/linkLibs.rsp
Task_11_03_2024/Build/CMakeFiles/OurProject.dir/main.cpp.obj.d
Task_11_03_2024/Build/CMakeFiles/OurProject.dir/objects.a
Task_11_03_2024/Build/CMakeFiles/OurProject.dir/objects1.rsp
